/* Add here all your CSS customizations */
.hidden {
	display: None
}

.nav-logo {
	width : 15%;
	padding-top: 1%
}

/*.intro-title {*/
/*	font-size: 50%;*/
/*	font-weight: 300;*/
/*	color: black;*/
/*}*/